:root{
  --background-gradient: 
  linear-gradient(30 deg, #75d21e 30%, #343434);
  --gray: #34495e;
  --darkgray:#2c3e50;
  --boutons: #38cc35;
  --radio: #212420;
}
*{
  outline:none;
}
/*Stylage de plusieurs aspects important présent dans tout le code comme par exemple l'image en arrière plan*/
body{
  max-width: fit-content;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
 /*Stylage des bouton select */
select{
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow:none;
  flex: 1;
  padding: 0 1em;
  color: white;
  background-color:var(--darkgray);
  background-image:none;
  cursor:pointer;
  text-align: center;
}
select::-ms-expand{
  display:none;
}
.select{
  position:relative;
  display:flex;
  width:15em;
  height:2em;
  border-radius:.25em;
  overflow:hidden;
}
.select::after{
  content:'\25BC';
  position:absolute;
  top:0;
  right:0;
  padding:0.5em;
  background-color:black;
  transition: .25s all ease;
  pointer-events: none;
}
.select:hover::after{
  color:#40c100;
  
}
html {
  height: 100%;
  width: 100%;
}
 /*Stylage des textes avec un arrière plan d'images */
.questionPhoto{
    text-transform: uppercase;
    font-family: fantasy;
    font-weight: 400;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}
 /*Enlevallage des checkbox pour pouvoir bien les styler */
input[type="checkbox"]{
  visibility: hidden;
}
 /*Stylage de ce qui est écrit à côté des checkbox*/
.checkbox-label{
  display = inline-block;
  position: relative;
  padding-left:40px;
  line-height: 40px;
  font-size:20px;
  cursor:pointer;
  font-weight: 600;
  color:black;
}
 /*Stylage du texte des checkbox*/
.checkbox-label:before{
  content: "";
  position : absolute;
  left: 0;
  top :60px
  z-index : 15;
  transition: all .3s ease;
  border: 4px solid black;
  width : 30px;
  height: 30px;
}
 /*Stylage des checkbox et du texte des checkbox quand il sont cocher*/
input[type="checkbox"]:checked + label:before{
  border:4px solid green;
  transform:rotate(-50deg);
  border-top:none;
  border-right:none;
  width:22px;
  height:12px;
  top:3px;
  
}
 /*Stylage des boutons radio*/
.contenir-radio{
  position: relative;
  transform:translate(-50%,-50%);
  left:50%;
    margin-top:90px;
    margin-bottom: -120px;
}
 /*J'enlève les boutons radio pour pouvoir les stylers*/
input[type="radio"]{
  display:none;
}
 /*Stylage des texte du bouton radio*/
.radio-label{
  position:relative;
  color:#01cc65;
  font-family:'Poppins',Sans-Serif;
  font-size:30px;
  border:2px solid var(--radio);
  border-radius:5px;
    display:flex;
   align-items: center;
  cursor:pointer;
}
.radio-label:before{
  content:"";
  height:1em;
  width:1em;
  border:3px solid var(--radio);
  border-radius:50%;
  margin-right:20px;
}
 /*Stylage des texte du bouton radio et du bouton radio quand quelqun le sélectionne*/
input[type="radio"]:checked+ label{
  background-color: var(--radio);
  color:white;
}

input[type="radio"]:checked+ label:before{
  height:16px;
  width:16px;
  border:10px solid white;
  background-color:var(--radio);
}
 /*Stylage du bouton indice, soumettre et page suivante*/
.bouton{
  position:relative;
  display:inline-block;
  padding:15px 30px;
  color:var(--boutons);
  text-transform:uppercase;
  letter-spacing: 4px;
  font-size:24px;
  overflow:hidden;
  transition:0.2s;
}
 /*Stylage du bouton indice, soumettre et page suivante quand la souris de quelqu'un flotte sur l'un des bouton*/
.bouton:hover{
  min-height: :100vh;
  font-family: Consolas;
  color:#255784;
  background:var(--boutons);
  box-shadow: 0 0 10px var(--boutons), 0 0 40px var(--boutons), 0 0 80px var(--boutons);
  transition-delay: 1s;
}
 /*Stylage de tous les span qui ont une classe de bouton, ce sont les span qui créer les quatres ligne*/
.bouton span{
  position:absolute;
  display: block;
}
 /*Stylage des quatres lignes, en commençant par la première qui passe par en haut*/
.bouton span:nth-child(1){
  top:0;
  left:-100%;
  width:100%;
  height:2px;
  background:linear-gradient(90deg,transparent,var(--boutons));
}
.bouton:hover span:nth-child(1){

  left:100%;
  transition:1s;
}
 /*Stylage des quatres lignes, celle ci est la troisième et elle passe en bas*/
.bouton span:nth-child(3){
  bottom:0;
  right: -100%;
  width:100%;
  height:2px;
  background:linear-gradient(270deg,transparent,var(--boutons));
}
.bouton:hover span:nth-child(3){

  right:100%;
  transition:1s;
  transition-delay:0.5s;
}
 /*Stylage des quatres lignes, celle ci est la deuxième et elle passe à droite*/
.bouton span:nth-child(2){
  top:-100%;
  right: 0;
  width:2px;
  height:100%;
  background:linear-gradient(180deg,transparent,var(--boutons));
}
.bouton:hover span:nth-child(2){
  top:100%;
  transition:1s;
  transition-delay:0.25s;
}
 /*Stylage des quatres lignes, celle si est la quatrième et elle passe à gauche*/
.bouton span:nth-child(4){
  bottom:-100%;
  left: 0;
  width:2px;
  height:100%;
  background:linear-gradient(360deg,transparent,var(--boutons));
}
.bouton:hover span:nth-child(4){
  bottom:100%;
  transition:1s;
  transition-delay:0.75s;
}
 /*J'enlève le surlignage des a tag, soit les hyperliens*/
a{
  text-decoration: none;
}
 /*Stylage de l'élément div dans lequel il y a les input de type texte*/
.envellopeur{
  position:relative;
  width:520px;
  right:50%;
}
.information{
  position:relative;
  height:80px;
  line-height:80px;
}
 /*Stylage des input de type text*/
input[type="text"]{
  position:absolute;
  outline:none;
    width:100%;
  font-size:1em;
  line-height: 80px;
  padding:0 30px;
  border-radius:10px;
  border:2px solid #f0ffff;
  background: transparent;
  transition:0,1s ease;
  z-index:1111;
  
}
 /*Stylage de l'ecriture dans les input de type texte*/
.ligne-information{
    position:absolute;
    width:500px;
  font-size:20px;
  color:#f0ffff;
  margin:0 20px;
  transition:0.2s ease;
}
 /*Stylage de l'écriture des input de type text quand quelqu'un appui déçu*/
.text:focus,
.text:valid{
  color:green;
  border:4px solid green;
}
 /*Stylage de l'écriture des input de type text quand quelqu'un appui déçu et aussi de l'écriture*/

.text:focus + .ligne-information,
.text:valid + .ligne-information{
  color:#66ff00;
  height:30px;
  line-height:10px;
  transform:translate(-15px,-16px)
}
 /*Stylage des images de différent sujet pour qu'il grandisse quand la souris de quelqu'un flotte déçu*/
.sujet:hover{
  transform: scale(1.2);
}
.button {
	cursor: pointer;
	
	font-size: 1rem;
	font-weight: 700 ;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	background-color:hotpink;
	color:white;


	
}

.indices {
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700 ;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	background-color:grey;
	color:white;
	
}
 /*Stylage des trois bouton d'indice pour qu'il change de taille et de couleur quand quelqu'un appui decu*/

.indices:hover {
  background-color:green;
  	transition:0.2s ease;
    transform: scale(1.2);
}

.indice {
	font-family:"verdana", cursive; font-size:30px; color:black; 
	border:2px solid black;
	width:1000px;
	height:15pk;
	padding:1.2rem;
}
 /*Stylage des titres avec des photos en arrière*/
.questionPhoto{
    text-transform: uppercase;
    font-family: fantasy;
    font-weight: 400;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.clicker { 
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700 ;
	padding: 1rem 1.5rem;
	
	color:greenborder-radius: 0.5rem;
	background-color:rgb(224, 224, 224);
	color:black;
}

h3 { 
	font-family:"verdana", cursive; font-size:40px; color:black; 
	border:2px solid black;
	width:600px;
	background-color:transparent;
    	size:1.2em;
				   
				   }

body {
	background-color:rgb(213, 160, 33);
}
 /*Stylage des photos*/
.photo {
	border:2px solid black;
	width:250px;
	display:block;
	
}

.initial{
	font-size:2em;
}

h2 { 
	font-family:"verdana", cursive; font-size:40px; color:black; 
	border:2px solid black;
	width:400px;
	height:9pk;
	background-color:rgb(237, 231, 217);
    	size:1.5em;
				   
}
h2:hover {
    background-color: rgb(213, 160, 33);
    color: white;
    border-color: white;
}
 /*Stylage du texte que l'utilisateur voient pour apprendre sur leur indices*/
.texte{
  font-size:20px;
}




